@font-face {
	font-family: "TingTong";
	src: url(../fonts/TingTong.ttf)format("truetype");
}

@font-face {
	font-family: "Comfortaa";
	src: url(../fonts/Comfortaa-Light.ttf)format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Comfortaa";
	src: url(../fonts/Comfortaa-Regular.ttf)format("truetype");
	font-weight: bold;
}

html{
	font-family: "Comfortaa";
}

#header{
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0;
	margin: 0,;
	width: 20%;
	height: 100%;
	position:fixed;
	
	background: #000;
}

#content{
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 75%;
	height: 100%;
	float: right;
	
	background: #000;
}

a {
    color: #fff;
}

b{
	background-image: -webkit-linear-gradient(95deg, #ff0000, #ff00ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

hr {
	color: #ddd;
	width: 100%;
}

ul{
	list-style: none;
	padding: 1em;
	margin: 0;
	background: #000;
	display: inline;
}

li{
	display: inline;
	text-align: center;
	justify-content: center;
	font-family: "TingTong";
	font-weight: bold;
	font-size: 3em;
	width: 20em;
	height: 2em;
	-webkit-user-select: none;
}

li:hover .text{
	width: 13vw;
	
	transition: width 0.25s linear;
}

.text{
	display: inline-block;
	width: 0;
	height: 1.15em;
	background-image: -webkit-linear-gradient(155deg, #f34026, #fedd3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 60s infinite linear;
	cursor: pointer;
	overflow: hidden;
	overflow-wrap: break-word;
	text-align: left;
	padding-left: 0.2em;
}

.logo{
	margin: 0;
	padding: 0;
	float: left;
}

.logo:hover{
	background-image: -webkit-linear-gradient(155deg, #d34026, #dedd3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 60s infinite linear;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(360deg);
    }
}
