.ttb{
	flex-direction: column;
}

.ltr{
	flex-direction: row;
}

#main{
	width:100%;
}

#head{
	align-items: center;
	justify-content: space-between;
}

#_stageNameEN{
	font-family: "TingTong";
	font-size: 2.75em;
}

#_stageName{
	font-family: "Gaegu";
	font-size: 2.5em;
}

#_picture{
	max-height: 480px;
	max-width: 480px;
	width: 15%;
	border-radius: 20%;
}